language: python
python:
  - "3.7"

install:
  - pip install poetry
  - poetry config virtualenvs.create false
  - poetry install --no-interaction --no-ansi

script:
  - docker run --name pg-db -e POSTGRES_PASSWORD=postgres -e POSTGRES_USER=postgres -e POSTGRES_DB=postgres -d postgres
  - pytest
  - docker stop pg-db
  - docker rm pg-db

